{{!--Uneaten Burgers--}}
<div class="well col-md-4 content" align="center" id="newburgerdiv">
  <h3>Un-Eaten Burgers!</h3>
        {{#each burgers}} {{#unless this.eaten}}
        <div class="well">
            <p>{{this.name}}<p/>

            <form action="/{{this.uuid}}?_method=PUT" method="POST">
                <input type="hidden" name="eaten" value="true">
                <button type="submit" class="btn btn-success btn-block" id="eat">Devour It!</button>
            </form>

            {{> delete-burger}}
        </div>
        {{/unless}} {{/each}}
</div>
{{!--Add a Burger--}}
<div class="well col-md-3 content" align="center" id="addaburger">
    <h3>Add a Burger</h3>
    <form class="create-update-form">

        <div align="form-group center">
            <label for="name" style= "alignment: center" >Name:</label>
            <input type="text" id="name" name="name" >
        </div>
        <button type="submit" class="btn btn-success btn-block" id="newBurger">Add Burger</button>
    </form>
</div>
 {{!--Eaten Burgers--}}
<div class="well col-md-4 content" align="center" id="newburgerdiv">
    <h3>Eaten Burgers!</h2>
        {{#each burgers}} {{#if this.eaten}}
        <div class="well">
            <p>{{this.name}}</p>

            <form action="/{{this.uuid}}?_method=PUT" method="POST">
                <input type="hidden" name="eaten" value="false">
                <button type="submit" class="btn btn-success btn-block" id="undo">Un-Do!</button>
            </form>

            {{> delete-burger}}
        </div>
        {{/if}} {{/each}}
</div>